:root {
    --naranja: #FFA500; /* Ajusta este código si tienes un valor específico */
    --verde-azulado: #008080; /* Ajusta este código si tienes un valor específico */
    --azul-gris: #6C7A89; /* Ajusta este código si tienes un valor específico */
    --negro-cairo: #000000; /* Negro con la tipografía Cairo */
}

body {
    font-family: 'Cairo', sans-serif;
    background-color: var(--azul-gris);
    color: var(--negro-cairo);
}

header {
    background-color: var(--naranja);
    color: var(--negro-cairo);
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: var(--naranja);
}

a {
    color: var(--verde-azulado);
    text-decoration: none;
}

a:hover {
    color: var(--naranja);
    text-decoration: underline;
}

section {
    padding: 20px;
    border-bottom: 1px solid var(--azul-gris);
}

.logo {
    max-width: 150px;
}

/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
    section {
        padding: 1em;
    }
    
    ul {
        padding: 0;
    }

    ul li {
        margin: 0.5em 0;
        padding: 0.5em;
        border: 1px solid #ddd;
    }
}
