body {
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000; /* Fondo negro */
  color: #fff; /* Letra blanca */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
}

.logo img {
  width: 400px; /* Ajusta el ancho del logo según tus necesidades */
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

.bienvenida {
  position: relative;
  text-align: center;
  background-color: #008080; /* Azul gris */
  color: #FFA500; /* Naranja */
}

.imagen-bienvenida img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.texto-bienvenida {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #FFA500; /* Naranja */
}

.contenido {
  padding: 20px;
  background-color: #000; /* Fondo negro */
  color: #fff; /* Letra blanca */
  margin: 20px 0;
}

footer {
  background-color: #DCDCDC; /* Azul gris */
  padding: 20px;
  text-align: center;
  color: #000; /* Negro */
}

footer .ubicacion p {
  margin: 5px 0;
}

footer .horarios, footer .contacto, footer .redes, footer .derechos, footer .ubicacion {
  margin-bottom: 10px;
}

h2 {
  color: #008080; /* Verde azulado */
}

a {
  color: #FFA500; /* Naranja */
  text-decoration: none;
}

a:hover {
  color: #FFA500; /* Naranja */
}

button {
  background-color: #FFA500; /* Naranja */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Cairo', sans-serif;
}

button:hover {
  background-color: #FF8C00; /* Naranja más oscuro */
}

/* Control del tamaño de las imágenes */
img {
  max-width: 10%
  height: auto;
}

/* Clases específicas para tamaños personalizados */
.img-pequena {
  width: 150px;
  height: auto;
}

.img-mediana {
  width: 300px;
  height: auto;
}

.img-grande {
  width: 500px;
  height: auto;
}
